<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>Prova</title>
</head>

<body>

    <header>
        <div class="background-header"></div>
        <p class="titulo">uma seleção de produtos</p>
        <p class="titulo2">especial para você</p>
        <p class="titulo3">Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
        <button>Conheça a Linx</button>
        <button>Ajude o Algoritmo</button>
        <button>Seus produtos</button>
        <button>Compartilhe</button>
    </header>

    <main>

    </main>

    <footer>
        
    </footer>

</body>

</html>