<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>Prova</title>
</head>

<body>

    <header>
        <div class="background-header"></div>
        <p class="titulo">uma seleção de produtos</p>
        <p class="titulo2">especial para você</p>
        <p class="titulo3">Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</p>
        <button>Conheça a Linx</button>
        <button>Ajude o Algoritmo</button>
        <button>Seus produtos</button>
        <button>Compartilhe</button>
    </header>

    <main>
        <div class="main-texto">
            <h2>Ajude o algoritmo a ser mais certeiro</h2>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies tellus nec mi porta convallis sollicitudin eu urna. Mauris rhoncus erat sed interdum dignissim. Suspendisse semper pretium consectetur. Praesent bibendum arcu
                risus, sit amet iaculis ex tempus quis. Cras et erat ut tellus vulputate tincidunt. Aenean lacinia euismod augue vel egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum vel urna
                tortor. Vivamus et arcu non felis tristique eleifend. <br><br>Morbi eu condimentum urna. Curabitur eu magna eget turpis condimentum ultrices. Suspendisse quis lorem ultricies, pulvinar purus sed, egestas erat. Etiam ultricies a ante vehicula
                pharetra. Quisque ut neque mattis, consequat velit ut, ultrices orci. Nulla varius elementum erat vel pharetra. Aenean sit amet nisi diam. Morbi viverra, magna ac luctus commodo, odio ante suscipit libero, at mattis augue est vel metus.</p>
        </div>

        <form>
            <div class="form-input-group">
                <label for="userName">Seu nome:</label>
                <input type="text" name="userName" id="userName">
            </div>
            <div class="form-input-group">
                <label for="userEmail">E-mail:</label>
                <input type="email" name="userEmail" id="userEmail">
            </div>
            <div class="form-input-group">
                <label for="userCPF">CPF:</label>
                <input type="text" name="userCPF" id="userCPF" pattern="\d{3}.\d{3}.\d{3}-\d{2}">
            </div>
            <div class="form-radio-group">
                <input type="radio" id="masculino" name="genero"  value="masculino">
                <label for="masculino">Masculino</label>
                <input type="radio" id="feminino" name="genero"  value="feminino">
                <label for="feminino">Feminino</label>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </main>

    <section class="produtos-section">
        <p class="produtos-titulo">Sua seleção especial</p>
        <div class="produto">
        {%for produto in produtos%}
            <div class="produto-card">
                <img  src="{{'http:{link}'.format(link = produto.get_imagem())}}">
                <div>
                    <p class="produto-nome">{{produto.get_nome()}}</p>
                    <p class="produto-descricao">{{produto.get_descricao()}}</p>
                    <p class="produto-preco-anterior">De: {{'R${:,.2f}'.format(produto.get_preco_anterior())}}</p>
                    <p class="produto-preco">Por: {{'R${:,.2f}'.format(produto.get_preco())}}</p>
                    <p class="produto-meio-pagamento">ou {{produto.get_qtd_parcelas()}}x de {{'R${:,.2f}'.format(produto.get_valor_parcela())}}</p>
                    <button>Comprar</button>
                </div>
            </div>
        {%endfor%}
        </div>
    </section>

    <section class="novidades-section">
        <p class="novidades-titulo">Compartilhe a novidade</p>
        <h3>Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!</h3>
        <form>
            <span class="novidades-form-input-group">
                <label for="amigo_nome">Nome do seu amigo:</label>
                <input type="text" name="amigo_nome" id="amigo_nome">
            </span>
            <span class="novidades-form-input-group">
                <label for="amigo_email">E-mail:</label>
                <input type="email" name="amigo_email" id="amigo_email">
            </span>
        </form>
        <button>Enviar agora</button>
    </section>

    <footer>
        <p>Testando suas habilidades em HTML, CSS e JS. <br>Linx Impulse<br> 2019</p>
    </footer>

</body>

</html>